{% extends 'base_nav.html' %}
{% load staticfiles %}

{% block title_block %}
    Image Process
{% endblock title_block %}


{% block body_block %}
<br>
<div class='jumbotron' style="background-color: #f7d217">
    <h1>Welcome to Image Process Page</h1>
    <h3>here, your image will be processed and waiting for the result</h3>
</div>
<div class="container">
    <div class="row jumbotron" align="center">
      <div class="col-sm">
        <img src="{{ defImg }}" alt="We are sorry, something went wrong" width="400">
        <p>Preprocessed Image</p>
      </div>
      <div class="col-sm">
        <img src="{{ proImg }}" alt="We are sorry, something went wrong" width="400">
        <p>Processed Image</p>
      </div>
    </div>
  </div>
{% endblock body_block %}